.infoContancto
{
	
	text-align: center;
	color: white;
}
.footer{
    position: absolute;;
    width:100%;

    background-color: white ;
    color: gray;
    bottom:();
    text-align: center;
    
}