<section class=" container-fluid"  style="z-index: 0" >
    <!-- Header desktop -->							
                <!-- Menu -->
        
        <div class="row">
        
        <div class="col">
                <nav class="navbar navbar-expand-lg navbar-light container-fluid" style="background-color:white ">		
                    
                    <a routerLink="/perfil/user">
                        <img class="navbar-brand" src="../../assets/img/logo.png" style="width:170px" >
                    </a>
                        <div >
                            <button class="navbar-toggler" type= "button" data-toggle="collapse" data-target="#uno" style="border-color: white ">
                                <span class="navbar-toggler-icon "></span>
                            </button>
                        </div>	
                        <div class="collapse navbar-collapse justify-content-md-end" id="uno">
                            <ul class="navbar-nav">
                            
                            
                                <li class="nav-item m-lg-3 m-1">
                                    <a class="nav-link letra" routerLink="/perfil/user">Perfil </a>
                                </li >

                                <li class="nav-item m-lg-3 m-1">
                                    <a class="nav-link letra" routerLink="/pedidos">Mis Pedidos </a>
                                </li >
                                
                                <li class="nav-item m-lg-3 m-1">
                                    <a class="nav-link letra" routerLink="/recetas">Recetas </a>
                                </li >
                            
                            
                        </ul>		
                            
                    </div>				
                </nav>			
            </div>
            </div>
    </section>