<app-menu></app-menu>
<section class="contenido">
    <div class="row">
        <div class="col-12">
            <table class="border rounded table shadow-lg">
                <thead>
                        <th class="border">Profile</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="border">
                            <mat-icon style="font-size: 100px">person</mat-icon>
                        </td>
                        <td class ="border">
                            Nombre: Test user
                        </td>
                    </tr>
                    <tr>
                        <td class="border">
                            Pedidos: 3 comidas a la semana: Emeral Dal, Summer Tomato Risotto with Saffron, Nasi Goreng
                        </td>
                        <td class="border">
                            Metodo de pago: Tarjeta debito
                        </td>
                    </tr>
                    <tr>
                        <td class="border">
                            Nivel actual: Flex
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
   
</section>