/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.contenedorPerfil{

    height: 78.15vh;
}
.titulos
{
	
	color:black;
	text-align: center;
	font-family: latoB;
	font-size: 34px;

}
.frase 
{
	text-align: center;
	margin-top: 300px; 
	margin-bottom: 300px;
	
}


.centrar
{
	padding-top: 50%;
}
.centrarMargen{
	margin-top: 14%;
}
.letrasMoradas{
	color: #73b52f;
}
.centrarTexto{

	text-align: center;
}
.titulosA
{
	
	color:black;
	text-align: center;
	font-family: latoB;
	font-size: 25px;
	color: #73b52f;

}