/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.contenedorPerfil{

    height: 78.15vh;
}
.titulos
{
	
	color:black;
	text-align: center;
	font-family: latoB;
	font-size: 34px;

}
.frase 
{
	text-align: center;
	margin-top: 300px; 
	margin-bottom: 300px;
	
}
.botonPedir{
    width: 20%;
	background: linear-gradient(rgba(15, 146, 48, 0.87), rgb(64, 170, 14)); 
	
	color:white  ;
    font-size: 20px;
}


.centrar
{
	padding-top: 50%;
}
.centrarMargen{
	margin-top: 4%;
}
.letrasMoradas{
	color: #73b52f;
}
.centrarTexto{

	text-align: center;
}
.titulosA
{
	
	color:black;
	text-align: center;
	font-family: latoB;
	font-size: 25px;
	color: #73b52f;

}


.contenido{
    position: relative;
    min-height: 69vh ;
    
}