<section class=" container-fluid"  style="z-index: 0" >
    <!-- Header desktop -->							
                <!-- Menu -->
        
        <div class="row">
        
        <div class="col">
                <nav class="navbar navbar-expand-lg navbar-light container-fluid fixed-top " style="background-color:white ">		
                    
                    <a routerLink="home">
                        <img class="navbar-brand" src="../../assets/img/logo.png" style="width:170px" >
                    </a>
                        <div >
                            <button class="navbar-toggler" type= "button" data-toggle="collapse" data-target="#uno" style="border-color: white ">
                                <span class="navbar-toggler-icon "></span>
                            </button>
                        </div>	
                        <div class="collapse navbar-collapse justify-content-md-end" id="uno">
                            <ul class="navbar-nav">
                            
                            
                                <li class="nav-item m-lg-3 m-1">
                                    <a class="nav-link letra" routerLink="/login">Login/Registrarse </a>
                                </li >
                            
                            
                        </ul>		
                            
                    </div>				
                </nav>			
            </div>
            </div>
    </section>
    <section style="padding-top: 80px;">

        
<section id="prueba" >
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h1 ><strong>Somos VBox, nunca fue tan fácil ser vegetariano </strong></h1>
                
                <p class="mt-5 mb-5">
                     Somos VTeam, y con VBox una aplicación que busca ayudar a las personas que interesadas en ser vegetarianas a llevar a cabo una transición fluida y mantener este estilo de vida.
                </p>
                
                <a class="botonesA pr-4 pl-4 pt-3 pb-3 rounded  mt-5"  routerLink="/login"><strong>Login</strong> </a>
            </div>
        </div>
    </section>
</section>

    </section>


    <section class="container mt-5  "  >
        <div class="row">
       

       
       
       <div class="col-12  col-lg-6" style="text-align: center">
           
           <h1 class="titulos">Anímate a cambiar tu estilo de vida !</h1>
           
           <p class=" mt-4 parrafos">
               El proceso es realmente simple, regístrate y empieza a disfrutar de tu transición a ser vegetariano de la manera más sencilla y cómoda posible. Recibes todos los días las comidas que programes en la puerta de tu casa con la cantidad de proteína animal que necesitas en tu proceso de ser vegetariano.
           </p>
           
           
           <div class="mt-4">
           <h1 class="titulosA">
               Somos la app y plataforma que te permite vivir como vegetariano de la forma más sencilla posible.
               </h1>
   <p class="parrafosLado ">
   El universo VBox es un espacio en el que puedes encontrar todas las herramientas para tu vida de vegetariano, conectar con otros y compartir su experiencia diaria. Apuntamos a una transición sana y una vida fácil de vivir al ser vegetarianos.
   </p>	
   
           </div>		
       </div>
       
           
           
   <div class="col-12 col-lg-6 mt-5">
       <img src="../../assets/img/logo Hoja.png" style="width: 100%">
   </div>	

</div>	
</section>

<section class="container-fluid fondo5 mt-5" >
		

	
</section>


<section class="container-fluid frase" >
	<h1 class="titulos" style="color: #73b52f">“Somos VBox un mundo en donde ser vegetariano o vegano es algo cotidiano y sencillo para cualquier persona” </h1>
	 
</section>	 

 
 

 
     


 



